<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css">


<table id="datatable" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Stock</th>
            <th>Brand</th>
            <th>Mcategory</th>
            <th>Size</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {{#each Products}}
        <tr>
            <td>{{this.Name}}</td>
            <td>{{this.Stock}}</td>
            <td>{{this.Brand}}</td>
            <td>{{this.Mcategory}}</td>
            <td>{{this.Size}}</td>
            <td>{{this.Price}}</td>
        </tr>
      {{/each}}

    </tbody>
   
</table>

