

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
<!-- Datatable -->
<link href="/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
<!-- Custom Stylesheet -->
<link href="/css/style.css" rel="stylesheet">
<link href="/css/crop.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css">




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://foliotek.github.io/Croppie/croppie.css">
<link rel="stylesheet" href="https://maxccroppie.cssdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">





<link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="Stylesheet" type="text/css" />


<div class="row col-12 page-titles mx-0 mt-3 mb-4 shadow text-center">
    <div class="col-sm-12 p-md-0">
        <div class="welcome-text">
            <h4>SALES REPORT</h4>

        </div>
    </div>

</div>


<form action="/admin/sales-report" method="post">
<div class="row col-12">
    <div class="col-6 mb-5 ">
        <label for="inputEmail4">Start Date</label>
        <input type="date" class="form-control" id="str" name="StartDate">
    </div>
    <div class="col-6">
        <label for="inputEmail4">End Date</label>
        <input type="date" class="form-control" id="exp" name="EndDate">
    </div>
    <div class="text-center col-12   mb-5">
        <button id="prosub" type="submit" class="btn btn-primary">Report</button>
    </div>
</div>
</form>
{{#if sales}}
<table id="datatable" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>FirstName</th>
            <th>Status</th>
            <th>PaymentMethod</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {{#each sales}}
        <tr>
            <td>{{this.Date}}</td>
            <td>{{this.Time}}</td>
            <td>{{this.deliveryDetails.FirstName}}</td>
            <td>{{this.Status}}</td>
            <td>{{this.PaymentMethod}}</td>
            <td>{{this.Total}}</td>
        </tr>
        {{/each}}

    </tbody>

</table>
{{/if}}



<script src="/vendor/global/global.min.js"></script>
<script src="/js/quixnav-init.js"></script>
<script src="/js/custom.min.js"></script>




<!-- Datatable -->
<script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="/js/plugins-init/datatables.init.js"></script>
{{!-- 
<script>
    $("#proSelect").select2({
        placeholder: "Select A Product",
        allowClear: true
    });
</script>
 --}}


<script>
    $(document).ready(function () {
       
            let today = new Date()
           
            var dd = today.getDate();
            var mm = today.getMonth() + 1;

            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            maxDate = yyyy + '-' + mm + '-' + dd;
           $('#str').attr('max',maxDate)
           
        $('#str').change(function () {
             let date = document.getElementById('str').value
           
            $('#exp').attr('max',maxDate)
            
        })
       
    })
</script>