<div class="container col-6  " style="margin-top: 12rem;">
    {{!-- {{#each address}} --}}
    <form action="/change-address/{{detailes._id}}" method="post" id="EditProfile" class="needs-validation mt-5" novalidate>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstName">Name</label>
                <input type="text" class="form-control" id="Name" name="name" placeholder="" value="{{detailes.name}}" required>
                <div class="invalid-feedback">
                    Valid Name is required.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="lastName">Email</label>
                <input type="email" class="form-control" id="Email" name="email" placeholder=""  value="{{detailes.email}}" required>
                <div class="invalid-feedback">
                    Valid Email is required.
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="House">Mobile</label>
            <div class="input-group">

                <input type="text" class="form-control" id="Mobile" name="mobile"  onkeypress="return isNumber(event)"  value="{{detailes.mobile}}" placeholder="Mobile" required>
                <div class="invalid-feedback" style="width: 100%;">
                    Your Mobile No is required.
                </div>
            </div>
        </div>








        <hr class="mb-4">



        <div class="d-block my-3">
            <div class="custom-control custom-radio">
                <input id="User" name="User" type="text" value="{{user._id}}" class="custom-control-input" hidden>


            </div>

        </div>

        <hr class="mb-2">
        <button class="btn btn-primary btn-lg btn-block" type="submit">UPDATE ADDRESS </button>
    </form>

    {{!-- {{/each}} --}}
</div>

<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
<style>
    .error {
        color: red;
    }
</style>