<div class="container" style="margin-top: 10rem;">
  <div class="row">
    {{#each products}}
  <div class="card ml-5" style="width: 18rem;">
  <img class="card-img-top" src="/product-images/{{this.product._id}}a.jpg" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-title">{{this.product.Name}}</h6>
    <p class="card-text">{{this.product.Discription}}<br>
    {{this.product.Brand}}<br>
    {{this.product.Mcategory}},{{this.product.Scategory}},{{this.product.Size}}</p>
      <h6 class="card-title">Rs:{{this.product.Price}}</h6>
    
  </div>
</div>
{{/each}}
</div>
</div>