{{!-- <body> --}}
<section class="container " style="margin-top: 7rem;">
  <div class="row">
    {{#each orders}}
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Delivery Address:</h5>
          <p class="card-text"> <strong>Name:</strong> {{this.deliveryDetails.FirstName}}
            {{this.deliveryDetails.LastName}} <br>
            <strong>House Name:</strong> {{this.deliveryDetails.House}} <br>
            <strong>City:</strong> {{this.deliveryDetails.Town}},{{this.deliveryDetails.PIN}} <br>
            <strong>Mobile</strong> {{this.deliveryDetails.Mobile}} <br>
            <strong> Total: {{this.Total}}</strong>
          </p>

          <div class=""> <small style="color: black;"> Order Status:
            </small><span style="color: black;"> {{this.Status}}</span></div>
          <a class="btn btn-primary mt-2" href="/singleOrder/{{this._id}}">View products</a>


          {{#if Deliverd}}
          <a class="btn btn-primary mt-2">Cancel</a>
          {{else}}
          <a class="btn btn-primary mt-2" href="/cancelled/{{this._id}}">Cancel</a>
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</section>
{{!-- </body> --}}